<h1>Usuarios registrados</h1>
<div class="clear"></div>
<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Secondname</th>
        <th>FirstSurname</th>
        <th>SecondSurname</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Acción</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of users">
        <td>{{item.firstName}}</td>
        <td>{{item.secondName}}</td>
        <td>{{item.firstSurname}}</td>
        <td>{{item.secondSurname}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.address}}</td>
        <td>
          <img src="../../assets/pencil.png" height="20" width="20" (click) =edit(item); class="editIcon">
          <img src="../../assets/delete.png" height="20" width="20" (click) =delete(item); class="editIcon">

        </td>

      </tr>
    </tbody>
  </table>